body{
  background-color:#99e6ff;
}
h1{
  text-align:center;
}
section{
  width:50%;
  background-color:#1ac6ff;
  margin-left:auto;
  margin-right:auto;
  border-style:solid;
  border-width:5px;
  border-color:black;
  padding:5px;
}



